:root{
  --color1: #FFFFE0;
  --color2: white;
  --color3: #FFD700;
}
body {

  margin: 0;
  font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
  background: var(--color2);
  font-size: 15px;

}

*,
*::before
*::after{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6  {
  margin: 0;
}


/*container*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;



}


/*intro*/
.intro {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
width: 100%;
height: 100vh;


background:
url('../img/abs.jpg') center
no-repeat;
-webkit-background-size: cover;
background-size: cover;
}

.intro_inner{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.intro_title {
  color: black;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;

  line-height: 1;
}
.intro_title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: yellowgreen;
  margin: 40px auto 40px;

}

/*header*/
.header {
  padding-top: 0px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header.fixed {
  height: auto;
  position: fixed;
  background-color: #717171;
}
.header.fixed .header_inner {
  padding: 15px 0;
  border-bottom: 0;
}


.header_inner {
  display: flex;
  justify-content: space-between;
align-items: center;

}

.header_logo {
font-size: 30px;
font-weight: 700;
color: black;
transition: color .1s linear;
}


.header_logo:hover {
  color: yellowgreen;
}
.header_logo:hover:after {
  opacity: 1;
}









/*nav*/
.nav {
font-size: 14px;
text-transform: uppercase;
}

.nav_link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
position: relative;
  color: black;
text-decoration: none;

transition: color .1s linear;
}
.nav_link:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: yellowgreen;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .1s linear;

}
.nav_link:hover {
  color: yellowgreen;
}
.nav_link:hover:after {
  opacity: 1;
}

/*btn*/
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;
  border: 3px solid black;
  font-size: 14px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  text-decoration: none;

  transition: background .1s
  linear, color .1s linear;
}
.btn:hover {
background-color: black;
color: yellowgreen;
}
/*"mailto:novatorlen@gmail.com*/
a[href^="mailto:"] {
  font-size: 16px;
  line-height: 32px;
  color: #000000;

display: inline-block;
vertical-align: top;
padding: 8px 30px;
border: 3px solid black;
font-size: 14px;
font-weight: 700;
color: black;
text-transform: uppercase;
text-decoration: none;

transition: background .1s
linear, color .1s linear;
}
a[href^="mailto:"]:hover {
background-color: black;
color: yellowgreen;
}

 .coll {
    margin: 30px 0;}

a[href^="tel:"] {

  font-size: 16px;
  line-height: 32px;
  text-decoration: none;

}



/*section*/
.section {
padding: 10px;


}
.section_header {
width: 100%;
max-width: 950px;
margin: 0 auto 50px;
text-align: center;

}
.section_title {
  font-size: 24px;
  color: black;

  font-weight: 700;
  text-transform: uppercase;


}


.section_text {

  font-size: 20px;
  color: black;

  font-weight: 700;
  text-transform: uppercase;

}
.section_text:after{
content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: yellowgreen;
  margin: 40px auto 40px;
}

/*about*/

.about {


  display: flex;
  flex-wrap: wrap;

}

.about_item {
 margin: auto;
  width: 300px;
  position: relative;
 background-color: yellowgreen;

}

.about_item:hover .about_img {

  transform: translate3d(-10px, -10px, 0);
}



.about_item:hover .about_img img {
opacity: .1;
}
.about_item:hover .about_text {

  opacity: 1;
}

.about_img {
background: linear-gradient(to bottom, yellowgreen, Gray);
transform: transform .2s liner;
}

.about_img img {

  display: block;
transition: opacity .1 liner;

}

.about_text {
  width: 100%;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translate3d(0, -50, 0);
  transition: opacity .2s lianer;
}


/*services*/


.services {

  display: flex;

}

.services_item {

  flex: 1 1 0;
  padding-left: 30px;
  padding-right: 20px;
  position: relative;

}
.services_icon {

  position: absolute;
  top: 0;
  left: 0px;
  z-index: 1;
}

.service_title {
margin-bottom: 10px;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
}

.section_text {

font-size: 13px;
color: black;

}


/*features*/
.features {

  display: flex;
  flex-wrap: wrap;
  margin: 100px 0;
}
.features_item {
  width: 33.33333%;

margin: 25px 0;

  text-align: center;
}
.features_icon {

margin-bottom: 20px;
}
.features_title {
  margin-bottom: 14px;
  font-size: 14px;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
}

.features_text {
font-size: 14px;
line-height: 1.5;
color: black;
}

/*works*/

.works {
display: flex;
flex-wrap: wrap;

margin: 0 -15px;
}

.works_item {
width: 25%;
height: 350px;
border-bottom: 1px solid white;
border-right: 0px solid white;
position: relative;
overflow: hidden;

}
.works_item:hover .works_content {
  opacity: 1;

}
.works_photo {
min-width: 100%;
height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
 transform: translate3d(-50%, -50%, 0);
}
.works_content{
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;
  opacity: 0;
position: absolute;
top: 0;
left: 0;
z-index: 2;
background-color: rgba(154, 205, 50, .9);
text-align: center;
transition: opacity .2s linear;

}
.works_title {
  margin-bottom: 5px;
font-size: 14px;
font-weight: 700;
color: black;
text-transform: uppercase;
}
.works_text {
  font-size: 14px;
  color: black;
}

/*Team*/
.team {
  margin: 100px 0 70px;

}

.team_iner {
  display: flex;
flex-wrap: wrap;

margin: 0 30px;
margin-right: 30px;

}
.team_item {
  margin-bottom: 30px;

  width: 25%;
 margin: 0 0px;
}
.team_photo {
  margin-bottom: 20px;
  display: block;

  height: 250px;
  width: 250px;
}
.team_name {
margin-bottom: 8px;
  font-size: 22px;
color: #000;

}
.team_prof {
  margin-bottom: 15px;
font-size: 13px;
color: red;
text-transform: uppercase;
}
.team_text {
  margin-bottom: 15px;
font-size: 14px;
line-height: 1.5;
color: #000;
}

/*social*/

.social {
  margin-top: 0px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.social--footer {
  justify-content: center;

}
.social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  transition: background .1s linear;
}

.social_icon {
  display: block;

  height: 40px;
  fill: #717171;
  transition: fill .1s linear;
}
.social_item:hover {
background-color: yellowgreen;

}
.social_item:hover .social_icon{
fill: black;

}

.social--footer .social_item {
  background-color: transparent;
  background: none;
  border-width: 2px;
  border-color: white;
  border-radius: 2px;
}
.social--footer .social_item:hover {
  background-color: white;
}

.social--footer .social_icon {
  fill: white
}



/*karysel*/
/*
video*/
.wrapper {
min-height: 100vh;
display: flex;
flex-direction: column;

}
.ittems {

}
.items_container {
	max-width: 1200px;
	margin: 0px auto;
}
.item_body {
	display: grid;
	grid-template-columns: repeat(auto-fit, mivmax(290px, 1fr));
}
.item_video {
	position: relative;
  margin: 0px 0px 50 0px;
	padding: 0px 0px 60% 0px;

}
 .item_video video {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;

 }








/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* download */

.download {
margin: 90px 0;
text-align: center;
}

.download_title {
  margin-bottom: 10px;
font-size: 35px;
color: #000;
font-weight: 300;

}
.download_text {
  margin-bottom: 30px;
  font-size: 20px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

/* footer */

.footer {

  background-color: yellowgreen;

}

.footer_iner {
  padding: 70px 10px;
  display: flex;
  flex-wrap: wrap;


}

.footer_block{
  padding: 0 0px ;
  width: 33.33333%;

  text-align: center;

}
.footer_title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.footer_addres {
  font-style: normal;
  line-height: 1.5;
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
}

/* copyright */


.copyright {
  background-color: green;
  padding: 20px 0;

}
.copyright_text {
  text-align: center;
  font-size: 14px;
  color: rgb(224, 219, 219);
  line-height: 1.5;

}
.copyright_text span {
  color: #f2f2f2;
}


/*burger*/
.burger {
  display: none;
  padding: 9px 2px;

  background: none;
  border: 0;
  cursor: pointer;
}
.burger_item {
display: block;
width: 30px;
height: 3px;
background-color: black;

font-size: 0;
color: transparent;

position: relative;
}

.burger_item:before,
.burger_item:after {
  content: "";
  width: 100%;
  height: 100%;

  background-color: yellowgreen;

  position: absolute;
  left: 0;
  z-index: 1;
}
.burger_item:before {
  top: -8px;
}
.burger_item:after {
  bottom: -8px;
}




/* media */
@media (max-width: 1300px) {
  /*works*/
  .works_item {
  width: 50%;
  }
}

/*intro*/
@media (max-width: 990px) {
  .nav {
    display: none;
    width: 100%;
    flex-direction: column;

    background-color: greenyellow;
    text-align: right;

    position: absolute;
    top: 100%;
    right: 0;
  }
.nav.show {
  display: flex;
}


.nav_link {
  padding: 9px 15px;
}


  .burger {
    display: block;
  }

  .intro_title {
    font-size: 40px;
  }

  /*features_item*/

.features_item{
  width: 50%;
}
.team_item {
  width: 50%;

  text-align: center;

}
.team_photo {
  margin-left: auto;
  margin-right: auto;
}

.social {
  display: flex;
  justify-content: center;
}

.social_icon {

  vertical-align: middle;
}

}


@media (max-width: 767px) {


  .about {
  margin-right: 20px;
  }

  .intro {
    height: auto;
    padding-top: 130px;
    padding-bottom: 30px;
    padding-right: 30px;

    }
    .intro_title {
      font-size: 30px;
    }
    .intro_subtitle {
      font-size: 16px;
    }
    .features_item{
      width: 100%;
    }
    .works_item {
      width: 100%;
      height: 300px;
      }
      .team_item {
        width: 100%;
}
a[href^="mailto:"] {
  font-size: 16px;
  line-height: 32px;
  color: #000000;

display: inline-block;
vertical-align: top;
padding: 1px 5px;
border: 3px solid black;
font-size: 14px;
font-weight: 700;
color: black;
text-transform: uppercase;
text-decoration: none;

transition: background .1s
linear, color .1s linear;
}


}
